<figure class="block standalone {{ with .Get "class" }}{{ . }}{{ end }}">
  {{- if .Get "link" -}}
    <a href="{{ .Get "link" }}"{{ with .Get "target" }} target="{{ . }}"{{ end }}{{ with .Get "rel" }} rel="{{ . }}"{{ end }}>
  {{- else -}}
    {{- $u := urls.Parse (.Get "src") -}}
    {{- if not $u.IsAbs -}}
      {{- with or (.Page.Resources.GetMatch $u.Path) (resources.GetMatch $u.Path) -}}
        <a href="{{ (.Fit "1600x1600 q90").RelPermalink }}" class="lightbox-image">
      {{- end -}}
    {{- end -}}
  {{- end -}}

  {{- $u := urls.Parse (.Get "src") -}}
  {{- $src := $u.String -}}
  {{- if not $u.IsAbs -}}
    {{- with or (.Page.Resources.GetMatch $u.Path) (resources.GetMatch $u.Path) -}}
      {{- $resized := .Fit "1200x1200" -}}
      {{- $processed := $resized.Process "webp q75" -}}
      {{- $src = $processed.RelPermalink -}}
    {{- else -}}
      {{- $src = $u.Path -}}
    {{- end -}}
  {{- end -}}

  <img class="blockImage" src="{{ $src }}"
    {{- if or (.Get "alt") (.Get "caption") }}
    alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify| plainify }}{{ end }}"
    {{- end -}}
    {{- with .Get "width" }} width="{{ . }}"{{ end -}}
    {{- with .Get "height" }} height="{{ . }}"{{ end -}}
    {{- with .Get "loading" }} loading="{{ . }}"{{ end -}}
  ><!-- Closing img tag -->
  {{- if .Get "link" }}</a>
  {{- else -}}
    {{- if not $u.IsAbs -}}
      {{- with or (.Page.Resources.GetMatch $u.Path) (resources.GetMatch $u.Path) -}}
        </a>
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- if or (or (.Get "title") (.Get "caption")) (.Get "credit") -}}
    <figcaption class="blockContent">
      {{- if .Get "credit" }}<p class="credit">
        {{- with .Get "creditlink" }}
          <a href="{{ . }}">
        {{- end -}}
        {{- .Get "credit" | markdownify -}}
        {{- if .Get "creditlink" }}</a>{{ end }}
      </p>{{ end }}
      {{ with (.Get "title") -}}
        {{ . }}
      {{- end -}}
      {{- if .Get "caption" }}<p class="caption">
        {{- .Get "caption" | markdownify -}}
      </p>{{ end }}

    </figcaption>
  {{- end }}
</figure>