/* Typography */
html {
  font-size: 18px;
}

@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Figtree-Variable.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Fraunces-Variable.ttf') format('truetype');
  font-display: swap;
}
/* Variables */
:root{
  --font-sans: 'Figtree', sans-serif;
  --font-serif: 'Fraunces', serif;

  --size-80: 0.389rem;
  --size-90: 0.806rem;
  --size-100: 1rem;
  --size-200: 1.611rem;
  --size-250: 2.111rem;
  --size-300: 2.611rem;
  --size-325: 3.0135rem;
  --size-350: 3.416rem;
  --size-400: 4.222rem;
  --size-500: 6.833rem;

  --spacing-80: 0.389rem;
  --spacing-90: 0.611rem;
  --spacing-100: 1rem;
  --spacing-200: 1.611rem;
  --spacing-300: 2.611rem;
  --spacing-400: 4.222rem;

  --radius-100: 0.275rem;
  --radius-200: 0.444rem;
  --radius-300: 0.719rem;
  --radius-400: 1.164rem;

  /* Var Color */
  --secondary_strong:#CB202B;
  --primary_strongest:#373728;
  --primary_medium:#bdc1bb;
  --primary_medium_o:#8c8b8a66;
  --primary_weakest:#e5e5e4;
  --neutral_weakest:#ffffff;
}
/* Font Styles */
body {
  font-family: var(--font-sans);
  font-size: clamp(0.888rem, 0.7876rem + 0.4018vw, 1rem);
  line-height: 100%;
}
.serif {
  font-family: var(--font-serif);
}
.sans {
  font-family: var(--font-sans);
}
h1{
  font-family: var(--font-serif);
  font-size: var(--size-350);
  font-weight: 580;
  line-height: 110%;
  letter-spacing: -0.125rem;
  margin-block: 0;
  text-wrap: balance;
}
h1.home {
  font-family: var(--font-sans);
  font-size: var(--size-100);
  letter-spacing: 0px;
}
h2 {
  font-size: var(--size-325);
  font-weight: 700;
  line-height: 110%;
  margin-block: 0;
}
h3 {
  font-size: var(--size-300);
  font-weight: 700;
  margin-block: 0;
}
h4 {
  font-size: var(--size-250);
  font-weight: 700;
  margin-block: 0;
}
h5 {
  margin-bottom: var(--spacing-90);
  font-size: var(--size-90);
  font-weight: 900;
  letter-spacing: calc(var(--size-100) * 0.1);
  text-transform: uppercase;
  opacity: 0.75;
  margin-block: 0;
}
h6 {
  font-size: var(--size-80);
  font-weight: 700;
  margin-block: 0;
}
p {
  margin-block: 0;
}

p.footer {
  margin-bottom: var(--spacing-90);
  font-size: var(--size-90);
  font-weight: 900;
  letter-spacing: calc(var(--size-100) * 0.1);
  text-transform: uppercase;
  opacity: 0.825;
}

.caption {
  font-family: var(--font-serif);
  font-size: var(--size-200);
  margin-block: 0;
}

a {
  padding: var(--spacing-80) var(--spacing-90);
  margin-left: calc(var(--spacing-90) * -1);
  color: inherit;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  border-radius: var(--radius-100);
}

a:hover {
  background-color: var(--primary_medium_o);
}

section a {
  text-decoration: underline;
}

.menuItem {
  border-width: calc(var(--size-100) * 0.15);
  border-style: solid;
  border-color: transparent;
}


.active {
  border-color: var(--primary_strongest);
}

summary {
  display: block;
  font-family: var(--font-serif);
  font-size: var(--size-100);
}

/* Global Styles */
body {
  max-width: calc(var(--size-100) * 60);
  margin: 0 auto;
  background-color: var(--primary_weakest);
  color: var(--primary_strongest);
  line-height: 1.5;
}

section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
  padding: var(--spacing-200);
}

section#stage {
  height: calc(100vh - var(--size-500) - var(--size-200));
  max-height: calc(var(--size-100) * 40);
  padding: 0;
}

.flexible{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
}

.flexible h1, .flexible h2, .flexible h3, .flexible h4, .flexible h5, .flexible h6 {
  font-size: var(--size-200);
  letter-spacing: 0;
  font-family: var(--font-sans);
}

.flexibleSection .btn {
  margin-left: 0;
}


.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: var(--spacing-200);
}

.spacer {
  height: 30vh
}

/* Navigation */

nav {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: var(--size-500);
  padding: 0 var(--spacing-200);
  background-color: var(--primary_weakest);
}
.menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: var(--size-100);
  font-weight: 900;
  text-decoration: none;
  gap: var(--spacing-100);
  list-style: none;
}
.logo {
  max-width: calc(var(--size-100) * 8);
}

main {
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing-200);
  margin: auto;
}
.home {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

.gap-0 {
  gap:0;
}
.gap-80 {
  gap: var(--spacing-80);
}
.gap-90 {
  gap: var(--spacing-90);
}
.gap-100 {
  gap: var(--spacing-100);
}

ul, ol {
  margin-block-start: 0;
  margin-block-end: 0;
}

img, image {
  border-radius: var(--radius-100);
}

figure {
  margin-inline: 0;
  margin-block: 0;
}

/* Block Basics */

.block {
  position: relative;
}

.blockImage {
  position: absolute;
  z-index: 90;
  border-radius: var(--radius-100);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blockContent {
  position: absolute;
  z-index: 100;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: var(--spacing-100);
  margin: var(--spacing-90);
  background-color: var(--primary_weakest);
  border-radius: var(--radius-400);
}

/* Block Variations */

.block.stage {
  flex-basis: 100%;
}
.block.member {
  aspect-ratio: 2/3;
}
.block.post {
  flex-basis: calc(50% - var(--spacing-100));
  aspect-ratio: 4/3;
}
.block.post.detail {
  flex-basis: 100%;
  aspect-ratio: 16/9;
}

.block.standalone {
  flex-basis: 100%;
  aspect-ratio: 4/3;
}

.block.standalone.small {
  aspect-ratio: 1/1;
  max-width: calc(50% - var(--spacing-100));
}

.blockContent.stage {
  gap: var(--spacing-100);
}

.openingInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  gap: var(--spacing-90);
}

.indicator {
  padding: var(--spacing-80) var(--spacing-90);
  margin-right: var(--spacing-80);
  font-weight: 700;
  border-radius: var(--radius-100);
}

.open {
  background-color: hsla(73, 47%, 37%, 0.135);
  color: #52650C;
}

.closed {
  background-color: #a2151e20;
  color: #A2151E;
}

.noImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary_medium);
  color: var(--primary_strongest);
  font-family: var(--font-sans);
  font-size: var(--size-90);
  border-radius: var(--radius-100);
}

/* Posts */

.blockContent.post {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--spacing-80);
  align-items: center;
  padding: var(--spacing-90);
  font-size: var(--size-90);
  font-weight: 700;
  border-radius: var(--radius-100);
}

.posts {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-200);
}

.postsHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  gap: var(--spacing-200);
}

.postWrapper {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: var(--spacing-100);
  width: 100%;
  padding-bottom: var(--spacing-200);
  border-bottom: 1px solid var(--primary_medium);
}

.postWrapper:last-child {
  border-bottom: none;
}

.postContent {
  width: 50%;
}

.postMeta{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--spacing-90);
}

.tag {
  padding: var(--spacing-80);
  background-color: var(--primary_medium);
  font-family: var(--font-sans);
  font-size: var(--size-90);
  font-weight: 700;
  border-radius: var(--radius-100);
}

/* Members */

.members {
  display: grid;
  gap: var(--spacing-200);
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
}
.memberName {
  font-family: var(--font-serif);
  font-size: var(--size-200);
  text-transform: capitalize;
  word-break: break-word;
}
.memberRole {
  font-family: var(--font-sans);
  font-size: var(--size-100);
  text-transform: capitalize;
  word-break: break-word;
}

/* FAQ */

.faq {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

ul.faq {
  padding-inline-start: var(--spacing-100);
}
.faqItem {
  gap: var(--spacing-80);
}

.faq.question {
  margin-bottom: var(--spacing-100);
  font-family: var(--font-serif);
}
.faq.answer {
  padding: var(--spacing-100);
  background-color: var(--primary_medium);
  border-radius: var(--radius-100);
}

/*Buttons*/
.btn {
  display: inline-block;
  width: fit-content;
  padding: var(--spacing-100) var(--spacing-200);
  border: calc(var(--size-100) * 0.15) solid var(--primary_strongest);
  background-color: transparent;
  color: var(--neutral_strongest);
  font-size: var(--size-100);
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: var(--radius-100);
}

.btn.primary {
  border: none;
  background-color: var(--secondary_strong);
  color: var(--neutral_weakest);
}
.btn.primary:hover {
  background-color: var(--primary_strongest);
  color: var(--neutral_weakest);
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-300);
  padding-top: calc(var(--spacing-100) * 8);
  margin-top: calc(var(--spacing-100) * 8);
  background-color: var(--primary_medium);
  text-decoration: none;
  gap: var(--spacing-200);
  border-radius: var(--radius-100) var(--radius-100) 0 0;
}

.footer-columns {
  display: grid;
  gap: var(--spacing-100);
  grid-template-columns: repeat(auto-fit, minmax(min(12rem, 100%), 1fr));
}

.footer-column {
  flex: 1;
}

.footer-column h5 {
  margin-bottom: var(--size-100);
}

.footer-column ul {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
  padding: 0;
  list-style: none;
}

/* Gallery */

.galleryContainer {
}
.galleryHeading {
}
.galleryImages {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  overflow: auto;
  gap: var(--spacing-100);
  padding-inline-start: 0;
  list-style: none;
}
a.lightbox-image {
  padding: 0;
  margin-left: 0;
  color: transparent;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 1020px) {
  .footer-columns {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-300);
  }
}
@media (max-width: 550px) {
  footer {
    padding: var(--spacing-200);
  }
  .footer-columns {
    grid-template-columns: repeat(1, 1fr);
    gap: var(--spacing-300);
  }
}

@media (max-width: 846px) {

  h1 {
    font-size: clamp(2.111rem, 0.4341rem + 4.8784vw, 3.0135rem);
  }
  h2 {
    font-size: clamp(2.111rem, 1.6626rem + 1.7937vw, 2.611rem);
  }
  h3 {
    font-size: var(--size-200);
  }
  h4 {
    font-size: var(--size-200);
  }
  .menu {
    display: none;
  }

  nav {
    padding: 0 var(--spacing-100);
  }

  main {
    padding: 0 var(--spacing-100);
  }

  section{
    padding: var(--spacing-100) 0;
  }
  .postWrapper {
    gap: var(--spacing-200);
    flex-direction: column;
  }
  
  .postContent {
    width: 100%;
  }

  .block.post {
    aspect-ratio: 1/1;
    flex-basis: 100%;
    width: 100%;
  }
  .block.standalone {
   aspect-ratio: 2/3;
  }
  .block.standalone.small {
    max-width: 100%;
    aspect-ratio: 1/1;
  }
}