<h2>{{.Site.Title}}</h2>
  <div class="footer-columns">
    <div class="footer-column">
      <h5>Inhalt</h5>
      <ul>
        {{ range site.Menus.main }}
          <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
        <li><a href="/legal/impressum">Impressum</a></li>
        <li><a href="/legal/datenschutz">Datenschutz</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h5>Hilfe & Kontakt</h5>
      <ul>
        <li><a href="/#faq">FAQ</a></li>
        <li><a href="/verein/#kontakt">Kontakt</a></li>
        <li><a href="/verein/#bankverbindung">Bankverbindung</a></li>
        <li><a href="/verein/#mitglied-werden">Mitglied werden</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h5>Soziale Medien</h5>
      <ul>
        <li><a href="https://www.facebook.com/FoerdervereinLangerTeichEV" target="_blank">Facebook</a></li>
        <li><a href="https://instagram.com" target="_blank">Instagram</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <ul>
        <li><a class="btn primary" href="/verein">Mitglied werden</a></li>
        <li><a class="btn" href="MAILTO:langerteich@yahoo.de">Email senden</a></li>
        <li><a class="btn" href="https://maps.app.goo.gl/WLJdJrbBYAaMnzGFA" target="_blank">Anfahrt</a></li>
      </ul>
    </div>
  </div>
<h5>&copy; {{ now.Year }} Förderverein Langer Teich</h5>
