<div class="footer">
  <div class="footer-column">
    <h3>Menü</h3>
    <ul>
      {{ range site.Menus.main }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </div>
  <div class="footer-column">
    <h3>Bereiche</h3>
    <ul>
      <li><a href="#section1">Bereich 1</a></li>
      <li><a href="#section2">Bereich 2</a></li>
      <li><a href="#section3">Bereich 3</a></li>
    </ul>
  </div>
  <div class="footer-column">
    <h3>Soziale Medien</h3>
    <ul>
      <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
      <li><a href="https://twitter.com" target="_blank">Twitter</a></li>
      <li><a href="https://instagram.com" target="_blank">Instagram</a></li>
    </ul>
  </div>
  <div class="footer-column">
    <h3>Externe Links</h3>
    <ul>
      <li><a href="https://example.com" target="_blank">Externer Link 1</a></li>
      <li><a href="https://example.org" target="_blank">Externer Link 2</a></li>
    </ul>
  </div>
</div>
<p>&copy; {{ now.Year }}. All rights reserved.</p>
