<section class="galleryContainer">
  <h3 class="galleryHeading">Galerie</h3>
    {{ $dir := string .gallery_dir }}
    <ul class="galleryImages">
    {{ range .context.Resources.Match (print $dir "/*") }}
      {{- $image := . -}}
      {{- $imageurl := $image.Permalink -}}
      {{- $imagetitle := index (split (path.Base $image.Name) ".") 0 -}}
        <li>
          <a href="{{ ($image.Fit "1600x1600 q90").Permalink }}" title="{{ $imagetitle }}" class="lightbox-image">
            <img src="{{ ($image.Fill "192x192 q50").Permalink }}" alt="{{ $imagetitle }}" title="{{ $imagetitle }}">
          </a>
        </li>
    {{ end }}
    </ul>
</section>