<section class="posts" id="{{ .id }}">
  {{ $posts := .context.Site.GetPage "section" .section }}
  <h3>{{ $posts.Title }}</h3>
  {{ $pages := slice }} <!-- Initialisierung der Variable -->
  {{ $limit := .postLimit }}
  {{ if $limit }}
    {{ $pages = first $limit $posts.Pages }}
  {{ else }}
    {{ $pages = $posts.Pages }}
  {{ end }}
  {{ range $pages }}
    <div class="postWrapper">
      <div class="block post">
        <div class="blockContent post">
          <p>{{ .Date | time.Format ":date_medium" }}</p>
          {{ with .Params.credit }}
          <p>{{ . }}</p>
          {{ end }}
          <div class="postMeta">
            {{ with .Params.tags }}
              {{ $tags := . }}
              {{ if not (reflect.IsSlice $tags) }}
                {{ $tags = slice $tags }}
              {{ end }}
                {{ $lastIndex := sub (len $tags) 1 }}
                {{ range $index, $tag := $tags }}
                  <p class="tag">{{ $tag }}</p>
                {{ end }}
            {{ end }}
          </div>
        </div>
        {{ with .Resources.ByType "image" }}
          <img class="blockImage" src="{{ (index . 0).RelPermalink }}" alt="{{ $posts.Title }}" />
          {{ else }}
          <div class="noImage">Kein Bild verfügbar</div>
        {{ end }}
      </div>
      <div class="postContent">
        <h4>
          {{ if .Params.linkEnabled }} <a href="{{ .Permalink }}">{{ .Title }}</a>
          {{ else }} {{ .Title }}
          {{ end }}
        </h4>
        <summary class="serif">{{ .Summary }}</summary>
      </div>
    </div>
  {{ end }}
</section>
