/* Typography */
html {
  font-size: 18px;
}

@font-face {
  font-family: 'Figtree';
  src: url('/fonts/Figtree-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Fraunces';
  src: url('/fonts/Fraunces-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Variables */
:root{
  --font-sans: 'Figtree', sans-serif;
  --font-serif: 'Fraunces', serif;

  --size-90: 0.611rem;
  --size-80: 0.389rem;
  --size-100: 1rem;
  --size-200: 1.611rem;
  --size-300: 2.611rem;
  --size-400: 4.222rem;
  --size-500: 6.833rem;

  --spacing-80: 0.389rem;
  --spacing-90: 0.611rem;
  --spacing-100: 1rem;
  --spacing-200: 1.611rem;
  --spacing-300: 2.611rem;
  --spacing-400: 4.222rem;

  --radius-100: 0.275rem;
  --radius-200: 0.444rem;
  --radius-300: 0.719rem;
  --radius-400: 1.164rem;

  /* Var Color */
  --primary_strongest:#373728;
  --primary_medium:#bdc1bb;
  --secondary_strong:#e1313c;
  --primary_weakest:#e5e5e4;
  --neutral_weakest:#ffffff;
}
/* Font Styles */
body {
  font-family: var(--font-sans);
  line-height: 100%;
}
.serif {
  font-family: var(--font-serif);
}

h1{
  font-family: var(--font-serif);
  font-size: var(--size-500);
  line-height: 110%;
  font-weight: 400;
  margin-block: 0;
}
h2{
  font-size: var(--size-400);
  line-height: 110%;
  font-weight: 500;
  margin-block: 0;
}
h3 {
  font-size: var(--size-300);
  font-weight: 700;
  margin-block: 0;
}
h4 {
  font-weight: 700;
  font-size: var(--size-200);
  margin-block: 0;
}
h5 {
  font-weight: 700;
  font-size: var(--size-100);
  margin-block: 0;
}
h6 {
  font-weight: 700;
  font-size: var(--size-90);
  margin-block: 0;
}
p {
  margin-block: 0;
}

summary {
  display: block;
  font-family: var(--font-serif);
  font-size: var(--size-100);
}

/* Global Styles */
body {
  color: var(--primary_strongest);
  background-color: var(--primary_weakest);
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

img, image {
  border-radius: var(--radius-100);
}

.noImage {
  height: 100%;
  width: 100%;
  background-color: var(--primary_medium);
  border-radius: var(--radius-100);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-sans);
  font-size: var(--size-90);
  color: var(--primary_strongest);
}

.block {
  position: relative;
}

.block.stage {
  aspect-ratio: 4/3;
  flex: 0 1 100%;
}
.block.member {
  aspect-ratio: 2/3;
  flex: 0 1 calc(33.333% - var(--spacing-100));
}
.block.post {
  aspect-ratio: 4/3;
  flex: 0 1 calc(50% - var(--spacing-100));
}

.blockImage {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 90;
  border-radius: var(--radius-100);
}
.blockContent {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  margin: var(--spacing-90);
  border-radius: var(--radius-400);
  background-color: var(--primary_weakest);
  padding: var(--spacing-100);
  display: flex;
  flex-direction: column;
  align-items: start;
}

.blockContent.stage {
  gap: var(--spacing-90);
}

.blockContent.post {
  padding: var(--spacing-90);
  border-radius: var(--radius-100);
  font-size: var(--size-90);
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.posts{
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-100);
}

.postWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: var(--spacing-100);
}

.postContent {
  margin-top: calc(var(--spacing-100) * -1);
  width: 50%;
}

.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacing-100);
}
.memberName {
  word-break: break-word;
  font-family: var(--font-serif);
  font-size: var(--size-200);
  text-transform: capitalize;
}
.memberRole {
  word-break: break-word;
  font-family: var(--font-sans);
  font-size: var(--size-100);
  text-transform: capitalize;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.footer-column {
  flex: 1;
}

.footer-column h3 {
  margin-bottom: 0.5rem;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 0.5rem;
}

.footer-column ul li a {
  text-decoration: none;
  color: inherit;
}
