{{ define "main" }}

  {{ .Content }}

  <section id="stage">
    <div class="block stage">
      <div class="blockContent stage">
          {{ if .Params.isOpen }}
          <p class ="open">Geöffnet</p> <p>{{ .Params.openText }}</p>
          {{ else }}
          <p class ="closed">Geschlossen</p> <p>{{ .Params.closedText }}</p>
          {{ end }}
          <h2 class="serif">{{ .Params.heading }}</h2>
      </div>
        {{ if .Params.isOpen }}
          {{ with .Resources.GetMatch "homepage/open.*" }}
          <img class="blockImage" src="{{ .RelPermalink }}" alt="Waldbad Langer Teich – {{.Params.openText}}" />
          {{ end }}
        {{ else }}
          {{ with .Resources.GetMatch "homepage/closed.*" }}
          <img class="blockImage" src="{{ .RelPermalink }}" alt="Waldbad Langer Teich – {{.Params.closedText}}" />
          {{ end }}
        {{ end }}
    </div>
</section>

  {{ partial "posts.html" (dict "id" "aktuelles" "section" "aktuelles/posts" "context" .) }}

  {{ partial "faq.html" . }}
  
{{ end }}