{{ define "main" }}



  {{ .Content }}
  
  <section id="stage">
    {{ if .Params.isOpen }}
      {{ with .Resources.GetMatch "homepage/open.*" }}
      <img class="stageImg" src="{{ .RelPermalink }}" alt="{{.Params.openText}}" />
      {{ end }}
      <p class ="open">Geöffnet</p> <p>{{ .Params.openText }}</p>
    {{ else }}
      {{ with .Resources.GetMatch "homepage/closed.*" }}
      <img class="stageImg" src="{{ .RelPermalink }}" alt="{{.Params.closedText}}" />
      {{ end }}
      <p class ="closed">Geschlossen</p> <p>{{ .Params.closedText }}</p>
    {{ end }}
  </section>

  <section>
    <h2>Aktuelles</h2>
    <ul>
        {{ $posts := .Site.GetPage "section" "aktuelles/posts" }}
        {{ range $posts.Pages }}
        <li>
        {{ with (.Resources.ByType "image") }}
            <img class="postImg" src="{{ (index . 0).RelPermalink }}" alt="{{ $.Title }}" />
          {{ else }}
            <p class="fallback">Kein Bild verfügbar</p>
          {{ end }}
          {{ if .Params.linkEnabled }}
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
          {{ else }}
            <h2>{{ .Title }}</h2>
          {{ end }}
          <summary>{{ .Summary }}</summary>
        {{ end }}
      </li>
    </ul>
  </section>

  <section id="faq">
    <h2>Häufige Fragen – FAQ</h2>
    <ul>
      {{ $faqs := .Site.GetPage "section" "faq" }}
      {{ range $faqs.Pages }}
      <li>
        <strong>{{ .Params.question }}</strong><br />
        {{ .Params.answer }}
      </li>
      {{ end }}
    </ul>
  </section>
  
{{ end }}