{{ define "main" }}
  <h1 style="color: blue;">{{ .Title }}</h1>
  {{ .Content }}
  
  {{ $vorstand := .Site.GetPage "section" "verein/vorstand" }}
  {{ if $vorstand }}
    {{ range $vorstand.Pages }}
      {{ if eq .Kind "page" }}
        <div>
          {{ with .Resources.ByType "image" }}
            <img class="postImg" src="{{ (index . 0).RelPermalink }}" alt="{{ $.Params.name }}" />
          {{ end }}
          <h2>{{ .Params.name }}</h2>
          <p>{{ .Params.position }}</p>
        </div>
      {{ end }}
    {{ end }}
  {{ else }}
    <p>Keine Einträge gefunden.</p>
  {{ end }}
{{ end }}